.headerContainer{
    height: 56px;
    width: 100%;
    opacity: 100%;
    position: relative;
    background-color: red;
    }
.headerSearch{
margin-top: 4.1%;
margin-left: 14.93%;
background-color: blue;
width: 187px; 
height: 20px;
}
.headerUserName{
    height: 20px;
    width: 20px;
   // margin-top: 6px;
    margin-left: 9px;
    background-color: green;
}